#body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/papelJornal.avif);
}

.containerSessaoPalavraCruzada {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerGeral h1 {
    width: 100%;
    text-align: center;
    font-size: 250%;
    border-radius: 5px;
    color: #f76700ab;
    background-color: rgba(0, 0, 0, 0.785);
}

.containerGeral {
    width: 95%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.secaoPerguntaResposta {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.secaoPerguntaResposta h3 {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-size: 300%;
    color: #f76700ab;
    background-color: rgba(0, 0, 0, 0.785);
}

.secaoPerguntaResposta p {
    width: 180%;
    font-size: 70%;
    color: rgb(255, 255, 255);
    background-color: black;
}

#div_perguntas {
    font-size: 150%;
}

.palavraCruzada {
    width: 60%;
}

#cor {
    background-color: black;
}

#cor::selection {
    color: black;
}

.palavraCruzada td {
    width: 30px;
    height: 20px;
    font-size: 130%;
    justify-content: center;
    text-align: center;
    background-color: #4d2910c1;
    border: 1 px solid black;
}